server:
  port: 8761

spring:
  application:
    name: eureka-server

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

  server:
    enable-self-preservation: false
    # Reduce el tiempo de limpieza de instancias caídas (para ver cambios más rápido)
    eviction-interval-timer-in-ms: 5000

  instance:
    hostname: localhost

