services:
  mysql:
    image: mysql:8.0
    ports:
      - "3307:3306"
    env_file:
      - ./.env.docker
    environment:
      MYSQL_ROOT_PASSWORD: jdbc:mysql://mysql:3306/digital_money_house
      MYSQL_DATABASE: digital_money_house
      MYSQL_USER: dmh
      MYSQL_PASSWORD: dmh
    volumes:
      - dmh_mysql_data:/var/lib/mysql
    restart: unless-stopped

  eureka:
    build: "./eureka-server (1)/eureka-server"
    ports:
      - "8761:8761"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    restart: unless-stopped

  gateway:
    build: "./api-gateway/api-gateway"
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://eureka:8761/eureka/
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRATION: ${JWT_EXPIRATION}
    restart: unless-stopped

  auth-service:
    build: "./auth-service/auth-service"
    ports:
      - "8082:8082"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://eureka:8761/eureka/
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRATION: ${JWT_EXPIRATION}
    restart: unless-stopped

  users-service:
    build: "./users-service (1)/users-service"
    ports:
      - "8081:8081"
    env_file:
      - ./.env.docker
    environment:
      SPRING_PROFILES_ACTIVE: docker
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://eureka:8761/eureka/
      DB_URL: ${SPRING_DATASOURCE_URL}
      DB_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      DB_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    restart: unless-stopped

  account-service:
    build: "./account-service/account-service"
    ports:
      - "8083:8083"
    env_file:
      - ./.env.docker
    environment:
      SPRING_PROFILES_ACTIVE: docker
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://eureka:8761/eureka/
      DB_URL: ${SPRING_DATASOURCE_URL}
      DB_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      DB_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    restart: unless-stopped

volumes:
  dmh_mysql_data:




